<div class="parent">
<form [formGroup]="formResident" (ngSubmit)="save()" style="margin: 50px;" >

    <mat-form-field appearance="fill"><br> 
        <mat-label>ID:</mat-label>
        <input matInput  formControlName="id">
    </mat-form-field><br> 

    <mat-form-field appearance="fill"><br> 
        <mat-label>Ime: </mat-label>
        <input matInput    formControlName="ime">
    </mat-form-field><br>

    <mat-form-field appearance="fill"><br> 
        <mat-label>Prezime: </mat-label>
        <input matInput    formControlName="prezime">
    </mat-form-field><br>

    <mat-form-field appearance="fill"><br> 
        <mat-label>Adresa</mat-label>
        <input matInput    formControlName="adresa">
    </mat-form-field><br>

    <mat-form-field appearance="fill">
        <mat-label>Datum</mat-label>
        <input matInput [matDatepicker]="picker"  formControlName="datumuseljenja">
        <mat-hint>Format: MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix  [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    <br>
    <br>
    <button type="submit" mat-raised-button color="primary">Zapamti</button>
      &nbsp;&nbsp;
    <button mat-raised-button color="warn" (click)="goBack()">Nazad</button>
</form>
</div>
